@font-face{
    font-family:"나명";
    src:url("../font/NanumMyeongjo-Regular.ttf");
    font-weight:400;
}
@font-face {
    font-family:"나명";
    src: url("../font/NanumMyeongjo-Bold.ttf");
    font-weight:500;
}
@font-face {
    font-family: "나명";
    src: url("../font/NanumMyeongjo-ExtraBold.ttf");
    font-weight:600;
}

@font-face {
    font-family:"오스왈";
    src: url("../font/Oswald-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "오스왈";
    src: url("../font/Oswald-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "오스왈";
    src: url("../font/Oswald-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "오스왈";
    src: url("../font/Oswald-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "오스왈";
    src: url("../font/Oswald-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "오스왈";
    src: url("../font/Oswald-ExtraLight.ttf");
    font-weight: 200;
}