.btn_menu{
    border:1px solid #000;
    width:40px;
    height:40px;
    position: fixed;
    left:40px;
    top:40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    cursor: pointer;
    z-index: 1000;
}
.btn_menu span{
    width:26px;
    height:2px;
    background-color: #000;
}
nav{
    position: fixed;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    /* 마우스에 반응하지 않게 됨 */
    transition: all 1s ease 0s;
}
nav.on{
    opacity: 1;
    transform: translateX(0%);
    pointer-events: auto;
}
.gnb{
    list-style: none;
    font-size:30px;
}
.gnb a{
    color:#000;
    text-decoration: none;
}
.gnb>li{
    margin-bottom: 20px;
}
.gnb>li:last-of-type{
    margin-bottom: 0;
}
.btn_menu_close{
    border:1px solid #000;
    position: absolute;
    left:40px;
    top:40px;
    padding:10px;
    cursor: pointer;
}
