.tabMenu{
    border:1px solid #000;
    width:500px;
    padding: 10px;
}
.tabs{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
}
.tabs span{
    border:2px solid #000;
    cursor: pointer;
    padding:4px 10px;
    border-radius: 8px;
    transition: all 0.7s ease 0s;
}
.tabs span.on{
    border:2px solid darkorchid;
    background-color: orange;
    color:#fff;
    padding:4px 20px;
}
