*{
    /* 박스모델 초기화 */
    margin:0px;
    padding:0px;
}
.container{
    /* border-top-width:1px;
    border-top-style:solid;
    border-top-color:blue; */
    /* border-top:1px solid blue;
    border-right:1px solid blue;
    border-bottom:1px solid blue;
    border-left:1px solid blue; */
    border:20px solid red;
    width:1200px;
}
ul{
    background-color: pink;
}
li{
    border:1px solid blue;
}
li:nth-of-type(1){
    margin-bottom:100px;
    padding-left:50px;
    margin-left:100px;
    margin-right:100px;
}
li:nth-of-type(2){
    margin-top:200px;
    width:300px;
    margin-left:1100px;
    margin-right:100px;
    background-color:#fff;
}