*{
    margin:0px;
    padding:0px;
}
#container1{
    border:10px solid red;
    background-color: goldenrod;
    height:500px;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
#container2{
    height:500px;
    background-color: darkcyan;
    margin-left:60px;
    margin-right:60px;
}