.box{
    width:300px;
    height:300px;
}
.a{
    background-color: red;
    /* transform:translateX(100px); */
    /* 오른쪽으로 100픽셀 이동 */
    /* transform:translateX(-100px); */
    /* 왼쪽으로 100픽셀 이동 */
    /* transform:translateX(100%); */
    /* 자신의 너비 100% 만큼 오른쪽으로 이동 */
    transform:translateX(-50%);
    /* 자신의 너비 50% 만큼 왼쪽으로 이동 */
}
.b{
    background-color: orange;
    transform:translateY(10%);
}
.c{
    background-color: purple;
    /* transform:translateX(100px)translateY(-100px); */
    transform: translate(100px,-100px);
}
.parent{
    border:10px solid #000;
    height:700px;
    perspective: 1000px;
}
.d{
    transition:all 1s ease 0s;
    background-color: green;
    transform: translateZ(-500px);
}
.parent:hover .d{
    transform: translateZ(500px);
}
.e{
    transition: all 1s ease 0s;
    background-color: coral;
    transform:rotate(0deg);
    transform-origin: calc(100% - 80px) calc(100% - 120px);
    /* 현재 기본값 50% 50% */
}
.e:hover{
    transform: rotate(360deg);
}
.f{
    background-color: brown;
    transition: all 1s ease 0s;
}
.f:hover{
    transform:translate(200px,-200px)rotate(180deg);
}
.g{
    background-color: cadetblue;
    transition: all 1s ease 0s;
}
.g:hover{
    transform: rotateY(180deg);
}
.h{
    background-color: fuchsia;
    transition: all 1s ease 0s;
    margin:0 auto;
    transform-origin: 100% 50%;
}
.h:hover{
    /* transform:scale(2); */
    /* 수평 수직 방향 둘다 2배 만큼 키움 */
    /* transform:scaleX(2); */
    /* x축 방향으로 2배 만큼 키움 */
    transform:scaleY(2);
}