.box{
    border:5px solid #000;
}
.a{
    min-width: 700px;
    max-width: 1400px;
}
.b{
    min-height:100px;
    max-height:200px;
    overflow: auto;
}
.c{
    width:1200px;
    height:500px;
}
.innerc{
    border:5px solid blue;
    width:50%;
    height:50%;
}
.d{
    width:50vw;
    height:50vh;
    margin:0 auto;
    margin-top: 3rem;
}
.innerd{
    width:50%;
    margin:0 auto;
}