*{margin:0;padding:0;}
.station{
    border:1px solid red;
    position: fixed;
    left:0;
    top:0;
    width:100%;
}
.train{
    width:200%;
    display: flex;
    align-items: center;
}
.train section{
    width:50%;
}
@keyframes moveA {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes moveB {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}
.train section{
    white-space: nowrap;
    overflow: hidden;
}
.a{
    animation: moveA 10s linear -5s infinite;
    
    font-size:calc(100vw / 15);
}
.b{
    animation: moveB 10s linear 0s infinite;
    
    font-size:calc(100vw / 17);

}