@keyframes move {
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(100%);
    }
}
.box{
    background-color: coral;
    width:100px;
    height:100px;
    margin:50px auto;
}
.box1{
    animation-name:move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.box2{
    /* animation-name: move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: forwards; */
    animation:move 3s linear 0s 2 normal forwards;
}
@keyframes move2 {
    0%{
        transform: translateX(0%)rotate(0deg);
    }
    22.345%{
        transform:translateX(-50%)rotate(180deg);
    }
    50%{
        background-color: red;
    }
    100%{
        transform: translateX(-100%)rotate(0deg);
    }
}
.box3{
    animation:move2 5s linear 0s;
}
@keyframes pump {
    0%{
        transform:rotate(0deg)scale(1);
    }
    25%{
        transform:rotate(360deg)scale(3);
    }
    50%{
        transform:rotate(0deg)scale(0.7);
    }
    75%{
        transform:rotate(-360deg)scale(3);
    }
    100%{
        transform:rotate(0deg)scale(1);
    }
}
.box4{
    animation:pump 5s ease 0s infinite;
}