@charset "utf-8";
*{margin:0;padding:0;}
a{text-decoration: inherit;color:inherit;}
ul{list-style: none;}
img{max-width: 100%;}
html{
    background-color: #fff;
    color:#666;
}

header{
    width:1340px;
    height:100px;
    margin:0 auto;
    background-color: #2134f0;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.logo{
    align-self: center;
}
.gnb{
    display: flex;
    margin-top: 50px;
    margin-right: 25px;
}
.gnb a{
    display: flex;
    color:#fff;
    width:180px;
    height:50px;
    justify-content: center;
    align-items: center;
}

.gnb ul a{
    height:30px;
    background:orange;
}
.gnb>li{
    height:50px;
    overflow: hidden;
    transition:all 0.4s ease 0s;
}
.gnb>li:hover{
    height:200px;
}
.gnb a:hover{
    background-color: #000;
    color:#fff;
}
.station{
    height:350px;
}
.train{
    position: relative;
    width:100%;
    height:100%;
}
.train li{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity: 0;
    transition: all 1s ease 0s;
}
.train li.on{
    opacity: 1;
}
.contents{
    width:1340px;
    margin:0 auto;
    position: relative;
    margin-top: -83px;
    background-color: #fff;
}
.direct{
    display: flex;
    justify-content: space-around;
}
.direct a{
    display: flex;
    align-items: center;
}
.banner{
    display: flex;
    gap:20px;
    /* align-items: center; */
}
.imgframe{
    width:200px;
    flex-shrink: 0;
}
.arrow{
    align-self: center;
}
.contents section{
    margin-bottom: 20px;
}
.tab_menu{
    width:50%;
}
.tabs{
    display: flex;
}
.tabs a{
    border:1px solid #000;
    padding:10px;
}
.tabs a.on{
    background-color: #000;
    color:#fff;
}
.tab_desc{
    margin-top: 10px;
}
.notice li{
    display: flex;
    justify-content: space-between;
}
.gallery{
    display: flex;
    gap:10px;
}
.tab_desc>ul{
    display: none;
}
.notice.on{
    display: block;
}
.gallery.on{
    display: flex;
}

footer{
    width:1340px;
    height:120px;
    margin:0 auto;
    background-color: #000;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fmenu{
    display: flex;
    gap:10px;
}
.popup{
    position: fixed;
    left:300px;
    top:300px;
    width:300px;
    padding:30px;
    background-color: #fff;
    display: none;
}
.popup.on{
    display: block;;
}
.popup p{
    margin:20px 0;
}
.popupctl{
    display: flex;
    justify-content: flex-end;
}
#btn_close{
    cursor: pointer;
    padding:10px;
    border:1px solid #000;
}